@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@465&family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@font-face {
    font-family: Rigid-square;
    src: url(fonnts.com-Rigid_Square_Regular.otf);
}
@font-face {
    font-family: Bagel Fat One;
    src: url(Bagel_Fat_One.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    background: #003329;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main{
    background: rgb(254, 243, 221);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logoheader h1 {
    font-size: 25px;
    font-family: Rigid-square;
    color: rgb(121, 9, 9);
    font-weight: 650;
    font-style: normal;
    pointer-events: none;
    margin-right: 230px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 20px;
    font-weight: 600;
}

.navigation a:hover, 
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#textParallax {
    position: absolute;
    font-size: 5em;
    color: #fff;
    font-family: Bagel Fat One;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    margin-top: auto;
    background: #003329;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
    font-family: Bagel Fat One;
    font-weight: 100;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer {
    width: 100%;
    position: relative;
    bottom: 0;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
    padding: 100px 0 30px;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    margin-top: auto;
}

.row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.wrapperfooter {
    background: rgb(254, 243, 221);
    color: rgb(121, 9, 9);
    border-radius: 20px;
    padding: 20px 30px;
    font-size: 15px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.wrapperfooter h1 {
    position: relative;
    flex-basis: 25%;
    padding: 10px;
    width: fit-content;
    float: right;
    font-size: 40px;
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.col {
    flex-basis: 25%;
    padding: 10px;
    position: relative;
    width: fit-content;
}

.logofooter {
    width: 110px;
    margin-bottom: 30px;
}

.col h2 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal;
}

.col h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.email-id {
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.social-icons .fa-brands{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
    cursor: pointer;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.Copyright {
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span{
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}
@keyframes moving {
    0% {
        left: -20px;
    }
    100% {
        left: 100%;
    }
}